button {
    border: none;
}

.btn {
    text-align: center;
    box-sizing: border-box;
    padding: 12px 10px;
    font-weight: 600;
    font-size: clamp(0.8rem, 3vw, 1rem);
    text-transform: uppercase;
    color: $white;
    &:hover {
        cursor: pointer;
        transition: background-color 300ms;
    }
    &.small {
        font-size: clamp(0.5rem, 3vw, 0.7rem);
    }
    &.block {
        width: 100%;
    }
    &.btn-aqua-green {
        background-color: $aqua-green;
        &:hover {
            background-color: $dark-aqua-green;
        }
    }
    &.btn-light-blue {
        background-color: $light-blue;
        &:hover {
            background-color: $blue;
        }
    }
}