// Fonts
$primary-font: "Montserrat", sans-serif;

// Colors
$white: #FFF;
$blue: #084f85;
$dark-blue: #003b67;
$darker-blue: #00355d;
$light-blue: #0b548b;
$aqua-green: #17aa8d;
$dark-aqua-green: #16997f;

// Breakpoints
$screen-xs: 560px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-xs-min: $screen-xs;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;

$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);